h1,h2,h3,h4 {
    font-family: "Playfair Display", sans-serif;
}

body{
    font-family: "Roboto", sans-serif;
    font-size:16px;
}


.container{
    max-width:1400px;
    margin: 0 auto;
}


header{
    background-image: linear-gradient(rgba(30, 16, 0, 0.2), rgb(30, 16, 0,1)), url("../images/Minoa-Pera-Icerisi.jpeg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 200px 0;
}

header h1{
font-family: "Playfair Display", sans-serif;
font-weight: 700;
font-size: 128px;
line-height: 1;
margin:0;
}

header h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin:0;
}

header h3 {
    font-family: "Roboto", sans-serif;
    font-Weight:900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing:5px;
    margin:0;
}

header a{
    display:inline-block;
    margin-top: 32px;
    padding: 16px 32px ;
    background-color: white;
    color: black;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
    line-height:1.5;
    text-decoration: none;
    letter-spacing: 2px;  
}


footer{
    color: white;
    background-image: linear-gradient(rgba(30, 16, 0,0.9), rgba(30, 16, 0,1)),url("../images/Ampersand-bookshop.jpeg");
     background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
}

footer h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

footer ul {
    padding:0;
}

footer li {
    list-style: none;
    padding:0;
    margin:0,
}

footer a{
    text-decoration: underline;
    color:white;
    opacity: 0.7;
}

footer p{
    line-height: 24px;
    font-weight: 400;
    margin-right: 20px;
    opacity: 0.7;
}

section{
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display:grid;
    grid-template-columns: 2fr 2fr 2fr;
}

@media (max-width: 960px){
    body{
        font-size: 12px;
    }
    
    header {
    padding: 60px 0;
    }

    header h1{
    font-size: 64px;
    }

    header h2 {
    font-size: 18px;
    }

    header h3 {
    font-size: 12px;
    letter-spacing:2px;
    }

    header a{
    margin-top: 16px;
    padding: 8px 16px ;
    font-size: 12px;
    letter-spacing: 0;
    }
}